<div class="row">
  <div class="span6">
    <div class="page-header">
      <h1> Home </h1> 
    </div>
  </div>
</div>
<div class="row">
  <div class="span6">
    <h2> Tasks to Run </h2>
    <table class="table table-striped">
      <tr>
        <th class="span2">Task</th>
        <th class="span2">Filename </th>
        <th class="span1"></th>
      </tr>

    <% @rake_tasks.each do |rake_task| %>
      <tr>
        <td><%= link_to rake_task.task, rake_task %></td>
        <td><%= rake_task.rake_file.file_name %></td>
        <td> <a class="btn runTask" data-taskId="<%= rake_task.id %>" href= <%= "/run/#{rake_task.rake_file.file_name}/#{rake_task.task}"%>> Run </a></td>
      </tr>
    <% end %>
    </table>
  </div>
  <div id="task_output" class="span6">
  </div>
</div>


